<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Joop</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans+Condensed:300|Shadows+Into+Light|Titillium+Web" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<!-- meeting instead of todo. meetings for todos. and text instead of item -->
<body ng-app="joopApp">
<button class= "btn btn-primary" id="logout-btn">Logout</button>
    <div id="app-title">^Joop</div>
    <div class="col-md-10" id="friend-well">
        <div class="friend-div" class="col-md-5">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Serenity Victoria</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Seeing Next: </div>
                <div class="last-meet-text text editing-text" ng-class="{'editing-text': !editing, 'edited': meeting.edited}" ng-hide="editing">{{meeting.content}}</div>
                <textarea  class="last-meet-text-editing textbox-general" placeholder="trying that recipe we learned at the festival..."  ng-blur="editing = false;"  ng-show="editing"  ng-model="meeting.content" class="editing-text" type="text" rows="4"/></textarea>
                <button class=" btn btn-sm btn-danger update" ng-click="editing = !editing">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <div class="next-meet-text  text2 editing-text2" ng-class="{'editing-text2': editing2, 'edited': meeting2.edited}" ng-hide="editing2"> {{meeting2.content}}</div>
                <textarea  class="next-meet-text-editing textbox-general" placeholder="Cinco de Mayo celebration!"  ng-blur="editing2 = false;"  ng-show="editing2"  ng-model="meeting2.content" class="editing-text2" type="text" rows="4"/></textarea>
                <button class=" btn btn-sm btn-danger update" ng-click="editing2 = !editing2">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-1" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-1">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
            </div>
            <!--          end of friend div -->
        </div>
        <div class="friend-div" class="col-md-5">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Neil Denver</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Seeing Next: </div>
                <div class="last-meet-text text3 editing-text3" ng-class="{'editing-text3': editing3, 'edited': meeting3.edited}" ng-hide="editing3">{{meeting3.content}}</div>
                <textarea  class="last-meet-text-editing textbox-general" placeholder="waiting for my text back..."  ng-blur="editing3 = false;"  ng-show="editing3"  ng-model="meeting3.content" class="editing-text3" type="text" rows="4"/></textarea>
                <button class=" btn btn-sm btn-danger update" ng-click="editing3 = !editing3">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <div class="next-meet-text text4 editing-text4" ng-class="{'editing-text4': editing4, 'edited': metting4.edited}" ng-hide="editing4">{{meeting4.content}} </div>
                <textarea  class="next-meet-text-editing textbox-general" placeholder="Drinks with his co-workers"  ng-blur="editing4 = false;"  ng-show="editing4"  ng-model="meeting4.content" class="editing-text4" type="text" rows="4"/></textarea>

                <button class=" btn btn-sm btn-danger update" ng-click="editing4 = !editing4">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-2" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-2">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
            </div>
            <!--     end of friend div2 -->
        </div>
        <div class="friend-div" class="col-md-5">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Lane Doggart</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Seeing Next: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">Times Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-3" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-3">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
            </div>
            <!--     end of friend div3 -->
        </div>
        <div class="friend-div" class="col-md-5">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Wendy Lou</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading"> Seeing Next: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">Times Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-4" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-4">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
                </div>
                <!--      end of friend div4 -->
            
                </div>

                <div class="friend-div" class="col-md-5" id="fd-5" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Sally Cruzan</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Seeing Next: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-5" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-5">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
<!-- 
                end of friend div 5 -->
            </div>


            <!-- end of friend well section  -->

    
        </div>

         <div class="friend-div" class="col-md-5" id="fd-6" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Finley Cam</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-6" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-6">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
</div>
</div>
                    <!-- end of friend div 6 -->
                </div>

                 <div class="friend-div" class="col-md-5" id="fd-7" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Samantha Dodge</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-7" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-7">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>


                </div>
                </div>

             <!--    end of friend div 7 -->
                </div>



                 <div class="friend-div" class="col-md-5" id="fd-8" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Gerard Dane</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-8" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-8">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
</div>

<!-- end of friend div 8  -->
</div>



 <div class="friend-div" class="col-md-5" id="fd-9" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Wallace Undu</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-9" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-9">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
</div>

<!-- end of friend div 9 -->
</div>

 <div class="friend-div" class="col-md-5" id="fd-10" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">January Fay</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-10" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-10">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
                </div>
     <!--            end of friend div 10 -->
                </div>
               

                <div class="friend-div" class="col-md-5" id="fd-11" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Milo Danver</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-11" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-11">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
                </div>

                <!-- end of friend div 11 -->
                </div>


                 <div class="friend-div" class="col-md-5" id="fd-12" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Hiromi Fujino</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-12" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-12">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
                </div>

             <!--    end of friend div 12 -->
                </div>


                 <div class="friend-div" class="col-md-5" id="fd-13" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Stan Goto</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-13" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-13">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
                </div>

        <!--         end of friend div 13 -->
                </div>


 <div class="friend-div" class="col-md-5" id="fd-14" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Fatima Dow</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Seeing Next: </div>
                <div class="last-meet-text text editing-test" ng-class="{'editing-text': editing27, 'edited': meeting.edited}" ng-hide="editing27">{{meeting.content}}</div>
                <textarea  class="last-meet-text-editing" placeholder="trying that recipe we learned at the festival..." ng-blur="editing27 = false;" ng-show="editing27" ng-model="meeting.content" class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update" ng-click="editing27 = !editing27" 
                >^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                 <div class="next-meet-text" ng-class="{'editing-text': editing28, 'edited': meeting.edited}" ng-hide="editing28"> {{meeting.content}}</div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update" ng-click="editing28 = !editing28">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-14" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-14">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>

                </div>

        <!--         end of friend div 14 -->
                </div>


                 <div class="friend-div" class="col-md-5" id="fd-15" style="display:none">
            <div class="col-sm-2">
                <div class="friend-image"></div>
                <div class="friend-name">Brett Ashley</div>
            </div>
            <div class="col-sm-3">
                <div class="last-meet-heading">Next Seeing: </div>
                <textarea placeholder="trying that recipe we learned at the festival..." class="form-control last-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-3">
                <div class="next-meet-heading">Last Seen: </div>
                <textarea placeholder="Cinco de Mayo festival..." class="form-control next-meet-text" rows="4"></textarea>
                <button class=" btn btn-sm btn-danger update">^</button>
            </div>
            <div class="col-sm-4 interactive">
                <div class="profile-buttons">
                    <label for="times-seen" class="times-seen">X's Seen this Month:</label>
                    <div class="times-seen-num" id="times-seen-display-15" placeholder="Zero" type="text" id="times-seen">Zero</div>
                    <div class="div-buttons">
                        <button class="btn btn-sm btn-danger add-int" id="add-int-15">+</button>
                        <button class="btn btn-sm btn-danger reset-int">o</button>
                    </div>
                </div>
                </div>

     <!--            end of friend div 15 -->
                </div>










<div class="btn btn-lg btn-primary" id="add-new">Add new Friend</div>
  <!--               end of friend well section -->
        </div>



        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/functions.js" type="text/javascript"></script>        
<script src="scripts/angularApp.js" type="text/javascript"></script>
</body>
</html>
